<%- include("template/cabecera", {tituloWeb: 'Crear nueva mascota'}) %>
    <div class="container">
    <h1>Crear</h1>
    <form action="crear"method="POST">
        <input
            type="text"
            placeholder="Agregar nombre"
            class="form-control my-2"
            name="nombre"
        >
        <input
            type="text"
            placeholder="Agregar Apellido"
            class="form-control my-2"
            name="apellido"
        >
        <input
        type="text"
        placeholder="Agregar destino"
        class="form-control my-2"
        name="destino"
    >
    <input
    type="text"
    placeholder="Agregar Fecha"
    class="form-control my-2"
    name="fecha"
>
<input
type="text"
placeholder="Agregar Hora"
class="form-control my-2"
name="hora"
>
<input
type="text"
placeholder="Agregar Telefono"
class="form-control my-2"
name="telefono"
>
<input
type="text"
placeholder="Agregar Email"
class="form-control my-2"
name="email"
>
        <button
            class="btn btn-success w-100"  
            type="submit"  
        >
            Agregar
        </button>
    </form>
</div>
    <%- include("template/footer") %>